@{
    ViewBag.Title = "Datos de Contacto";
}
<h3>@ViewBag.Title</h3>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Carrera 14 # 81-19 Oficina 201<br />
    El Lago<br />
    Teléfono: (571) 634 6550<br />
    Bogotá,D.C. - Colombia
</address>

@*<address>
        <strong>Correo Automayor:</strong>   <a href="mailto:automayor@automayor.com.co">automayor@automayor.com.co</a><br />
        <strong>Soporte Aplicación:</strong> <a href="mailto:mduran@automayor.com.co">mduran@automayor.com.co</a>
    </address>*@